html {
  --main-dark: #171717;
  --main-light: #FFF;
  background: var(--main-dark);
  background: url(../../assets/wall-background.jpg);
  background-size: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 25px;
  z-index: 10;
  text-align: center;
}

.character {
  height: 43.75px;
  width: 43.75px;
  border-radius: 5px;
  background: url(../../assets/visored-helm.svg);
  background-size: contain;
  margin: auto;
}

.baddie {
  border: none;
  background: url(../../assets/bull.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.clock-face {
  color: var(--main-light);
}

.game-area {
  height: 700px;
  width: 1400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: even;
  /* margin: 12.5% auto; */
  background: none;
}

.tile {
  box-sizing: border-box;
  display: inline-block;
  background: #8b8a8aa6;
  border-radius: 5px;
}

.tile-wall {
  background: none;
  border: none;
}

.gate-tile {
  background: #8b8a8aa6;
  /* background: url(../../assets/gate.png); */
}

.gate-tile_gate {
  background: url(../../assets/gate.png);
  height: 50px;
  width: 50px;
}

/* .tile-junction { */
  /* background-color: greenyellow; */
/* } */

/* .tile-corridor { */
  /* background-color: lightblue; */
  /* border-radius: 7px; */
/* } */

.path-considered {
  background-color: purple;
}

.lights_off, .lights_off > *, .lights_off .character {
  /* background: var(--main-dark); */
  background: none !important;
  color: none;
  border: none;
}