html {
  --main-dark: #171717;
  --main-light: #FFF;
  background: var(--main-dark);
  background: url('../../assets/wall-background.jpg');
  background-size: cover;
}

body {
  height: 100%;
}

.character {
  height: 32px;
  width: 32px;
  border-radius: 25px;
  border: 2px solid var(--main-dark);
  background-color: red;
  margin: 18% auto;
}

.baddie {
  border: none;
  background: url(../../assets/Minotaur_Sprite.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.player {
  background-color: red;
}

.clock-face {
  color: var(--main-light);
}

.game-area {
  height: 450px;
  width: 1400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: even;
  margin: 12.5% auto;
  background: none;
}

.tile {
  box-sizing: border-box;
  display: inline-block;
  background: #8b8a8aa6;
}

.tile-wall {
  background: none;
  border: none;
}

/* .tile-junction {
  background-color: greenyellow;
}

.tile-corridor {
  background-color: lightblue;
}

.path-considered {
  background-color: purple;
} */

.lights_off, .lights_off > .tile, {
  /* background: var(--main-dark); */
  background: none !important;
  color: none;
  border: none;
}